@font-face {
  font-family: gothica_bold;
  src: url(../fonts/gothica/Gothica-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: lggothic;
  src: url(../fonts/lggothic/LGGothic.ttf);
}

:root {
  --black: ;
}

body {
    background-color: #0a0a23;
  }
  
  .title {
    font-family: gothica_bold;
    color: #ffffff;
    font-size: 65px;
    text-align: center;
    width: 550px;
    margin: 20vh auto 5vh;
  }

  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    font-family: lggothic;
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    font-family: lggothic;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }