@font-face {
  font-family: gothica_bold;
  src: url(../fonts/gothica/Gothica-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: lggothic;
  src: url(../fonts/lggothic/LGGothic.ttf);
}

:root {
  --white: #e6ffff;
  --gray: #676d75;
  --red: #d13c2a;
  --dark-gray: #303742;
  --black: #0d121a;
}

body {
  background-color: var(--black);
}

.title {
  font-family: gothica_bold;
  color: var(--white);
  font-size: 70px;
  text-align: center;
  width: 700px;
  margin: 20vh auto 5vh;
}

#text {
  background-color: var(--black);
  color: var(--white);
  padding: 15px;
}

#game-container {
  position: relative;
  max-width: 650px;
  max-height: 550px;
  margin: 30px auto 0px;
  padding: 10px;
}

#game-console {
  position: relative; /* Set relative position to allow absolute positioning within */
  font-family: lggothic;
  font-size: 22px;
  max-width: 600px;
  max-height: 500px;
  background-color: var(--white);
  color: var(--white);
  margin: auto;
  padding: 10px;
}

#controls {
  display: flex;
  justify-content: space-around;
}

#controls,
#stats {
  border: 1px solid var(--black);
  padding: 5px;
  color: var(--black);
  display: flex;
  justify-content: space-around;
}

#day {
  position: absolute;
  top: -10px;
  right: -25px;
  width: 75px;
  height: 30px;
  border: 1px solid var(--black);
  padding: 5px;
  font-family: lggothic;
  font-size: 22px;
  color: var(--black);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#monsterStats {
  display: none;
  border: 1px solid var(--black);
  padding: 5px;
  color: var(--white);
  background-color: var(--red);
}

button {
  cursor: pointer;
  font-family: lggothic;
  font-size: 22px;
  width: 150px;
  color: var(--black);
  background-color: var(--gray);
  border: 4px solid var(--dark-gray);
  transition: 0.3s;
}

button:hover {
  color: var(--white);
  background-color: var(--dark-gray);
  border: 4px solid var(--black);
}